h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Sans', serif;
	font-weight: bold; 
}

p {
	margin-top: 20px; 
	font-size: 120%;
}

h1 {
	font-size: 350%;
}
h2 {
	font-size: 250%;
}
h3 {
	margin-top: 30px; 
}

.top-spacer {
	margin-top: 50px; 
}
.image-centred {
	display: block; 
	margin: 0 auto; 
}
.image-full-width {
	width: 100%; 
}
.navbar {
	border-radius: 0px; 
	margin-bottom: 0px; 
}
.well {
	border-radius: 0px;
	border: none; 
}
.lurid-green {
	color: #9F637C;
}
.inline-social-icon {
	margin-right: 15px;
	display: inline; 
}
.container .jumbotron {
	border-radius: 0px; 
}
body {
	font-size: 16px; 
}
h2 {
	margin-top: 30px; 
}
ul li, ol li {
	margin-bottom: 5px; 
}
p a, ul a, ol a, sup a {
	font-weight: bold;
	text-align: justify; 
}
.panel-title > a {
	color: #895b94;
}
.custom-outset {
	line-height: 0px; 
}

/* Footnotes */
ol.hd-footnote-section li {
	margin-bottom: 10px; 
}

@media (max-width: 767px) {
	.custom-outset {
		margin-left: -15px; 
		margin-right: -15px; 
}
}
